a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style-type: none;
}

.image {
    width: 450px;
}

body {
    font-size: 1.2em;

    font-family: 'Rubik', sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    column-gap: 50%;
    width: 100%;
}

header .navitems {
    display: flex;
    column-gap: 50px;
}

header .navitems li {
    height: 30px;
    transition: all .2s;
    cursor: pointer
}

header .navitems li:hover {
    border-bottom: 3px solid #4f6ba8;

}


.nav-name {
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 1.3em;
}

hr {
    width: 90%;
    height: 2px;
    margin: 0 auto;
    color: #4f6ba8;
}


h1 {
    font-size: 1.7em;

    text-align: center;

    margin-top: 40px;
}

h2 {
    font-size: 1.2em;
    text-align: center;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.projects {
    /* background-color: red;    */
    padding: 20px;
    width: 90%;

    display: flex;
    gap: 20px;
    /* height: 100px; */

    flex-wrap: wrap;

    /* border-radius: 20px; */

}

.o-grito,
.calculator,
.pokedex,
.sos-rs,
.kimetsu,
.advice-generator,
.gta-project {
    width: 20%;

    height: 200px;

    background-color: #728dc7;


    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-left: 35%;
}


@media (max-width: 1041px) {
    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    hr {
        margin-top: 100px;
    }

    .o-grito,
    .calculator,
    .pokedex,
    .sos-rs,
    .kimetsu,
    .advice-generator,
    .gta-project {
        width: 50%;

    }

    img {
        width: 150px;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navitems {
        justify-content: center;
    }
}


@media (max-width: 727px) {
    img {
        margin-left: 10px;
    }
}