* {
    font-family: 'Rubik', sans-serif;
}

body {
    display: flex; 
    justify-content: center; 
    background-image: linear-gradient(#042940, #005C53);
    background-attachment: fixed;
    padding: 10px;
}

main {
    background-color: white;
    padding: 20px;
    width: 50%; 
    border-radius: 15px;
    box-shadow: 2px 2px 4px #042940;
    border: 2px solid #042940;
}

main h1 {
    text-shadow: 1px 1px 2px #085280;
}

h1 + p {
    text-indent: 0;
}

main h2 {
    color: #5a6c1c;
    border: 1px solid;
    width: 40%;
    padding: 10px;
}

summary::first-letter {
    font-weight: bold;
}


main figure {
    height: 200px;
}

main figure .programmer {
    width: 100%;
    height: inherit;
    object-fit: contain;
}

footer {
    background-color:#005C53;
    padding-top: 20px;
    color: white;
    text-align: center;
}

footer .internal-navigation {
    margin-top: 50px;       
}

footer .internal-navigation li {
    list-style-type:none;
    transition: .3s all;
}

footer .internal-navigation li:hover {
    color: #0c79bc;
}

footer .internal-navigation li a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 733px) {
    main h2 {
        width: 70%;
    }
}

@media (max-width:542px ) {
    main {
        width: 80%; 
    }

    main h2 {
        width: 80%;
    }
}

@media (max-width: 320px) {
    footer .internal-navigation {
        text-align: left;
    }
}